---
---

$verydark: #111;
$dark: #333;
$medium: #666;

body {
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	padding-top: 50pt;
	margin: 0 auto;
	text-align: justify;
	width: 540pt;
}

h3 {
	font-size: 135%;
	margin: 0pt;
	margin-bottom: 5pt;
	padding-top: 30pt;
}

footer {
	padding-top: 15pt;
	max-width: 580pt;
	margin:0 auto;
	font-weight: bold;
	margin-bottom: 5pt;
}

footer ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
	padding: 0;
}

footer li {
	flex: 0 1 auto; /* Default */
	list-style-type: none;
}

footer a {
	color: black;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

table {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.750em;
    width: 100%;
    padding: 0;
    text-align: justify;
    table-layout:fixed; 
}

td {
    padding-bottom: .3em;
    vertical-align: text-top;
}

td:first-child {
    width: 8.500em;
}

img {
	width: 100%;
}