---
---

<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link rel="shortcut icon" type="image/png" href="{% include fix_url.html url='/images/icon.png' %}"/>

		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url='/css/styles.css' %}">
	</head>

	<body lang="nl">
		{% include navigation_bar.html %}

		<div class="content">
			{{ content }}
		</div>

		{% include footer.html %}

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

		<script>
			function adjustTop() {
				var height = $('.navigation_bar').height() || 50;
				$('body').css({'padding-top': height + 'px'});
			}
			adjustTop();
			$(window).resize(function(){
				adjustTop();
			});
		</script>
	</body>
</html>
